# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/.vs
/.vs/ai-code-review
/.vs/ai-code-review/config
/.vs/ai-code-review/config/applicationhost.config
/.vs/ai-code-review/FileContentIndex
/.vs/ai-code-review/FileContentIndex/0cac0e4a-f455-4c26-9735-5286a56444e4.vsidx
/.vs/ai-code-review/FileContentIndex/de54bb08-7fd3-4dee-b78a-b661c0cbf9f1.vsidx
/.vs/ai-code-review/v17
/.vs/ai-code-review/v17/.wsuo
/.vs/ai-code-review/v17/DocumentLayout.json
/.vs/slnx.sqlite
/src/environments/environment.development.ts
/src/environments/environment.ts
