<div class="container text-light">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5 mt-5">
      <div class="card shadow-lg p-4">
        <div class="text-center mb-4">
          <a href="#" class="logo">
            <i class="bi bi-github logo-icon"></i>
            <span>odeAI Review</span>
          </a>
          <p>AI-Powered Code Review for Your Pull Requests</p>
        </div>

       <app-login-buttons (login)="login($event)"></app-login-buttons>

      </div>

      <div class="text-center mt-4">
        <h2 class="h4 text-primary">Elevate Your Code Reviews with AI</h2>
        <p>
          Code reviews taking up too much time? Tired of giving the same old boring advice? Wish there was an easier way to ensure code met your companies standards?
          Our AI-powered code reviewer is the solution you've been looking for!
        </p>
      </div>
    </div>
  </div>
</div>
