<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="logo" href="#">
      <i class="bi bi-github logo-icon"></i>
      <span>odeAI Review</span>
    </a>
    <div class="ms-auto">
      <div class="dropdown">
        <button class="btn btn-link text-light" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false" title="Logged in as {{currentUser()?.email}}">
          <img *ngIf="currentUser" [src]="currentUser()?.photoURL" class="profile-img" alt="Logged in as {{currentUser()?.email}}" />
          <i *ngIf="!currentUser" class="bi bi-person-circle fs-4"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
          <li><a class="dropdown-item" href="#" (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
